img {
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
  background: rgb(231, 231, 231);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
  &_link {
    padding: 1rem;
    color: #242424;
  }
}

.cars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  background: pink;
  .car {
    border: 1px solid #888;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    img {
      width: 30rem;
      height: 20rem;
      object-fit: cover;
    }
  }
}

